############################
#####Server configuration###
############################
#Scheme could either be http or https if running on a secure mode
registry.scheme=http
registry.hostname=localhost
registry.port=54321

#parent dsr configuration
registry.parent.url=http://localhost:9000

#Filters - comma separated fully qualified class names  
#registry.filters.request=pkg.Class1,pkg.Class2
#registry.filters.response=pkg.Class1,pkg.Class2

#Maximum lease duration for the services
# default value is 365, should be defined in days and the minimum value is 1
registry.expiry.maximum=1

#default value, if the incoming registration is missing the expiration
registry.expiry.default=1

############################
####MongoDB configuration###
############################
mongodb.hostname=localhost
mongodb.port=27017
mongodb.dbname=emiregistry
mongodb.colname=services

# Database name should be set by-default to 'registry'
# mongodb.dbname=emiregistry

# Collection name should be set by-default to 'service' 
# mongodb.colname=services

# MongoDB authentication information
#mongodb.username=user
#mongodb.password=pwd

############################
#### Log4J configuration ###
############################
logger.conf.path=src/main/resources/log4j.properties


############################
#####   Security  ##########
############################

registry.security.disable=false

###### Authentication ######
keystore.path=src/test/resources/demo-server.p12
keystore.type=pkcs12
keystore.password=emi

truststore.path=src/test/resources/certs/demo-server.jks
truststore.password=emi
truststore.type=jks

registry.security.clientauthentication=true

###### Authorisation #######
#
# Authorisation attribute source configuration
# 
# EMIR maps the identity of the Grid user (e.g. 
# her certificate or distinguished name) to attributes
# (like role).
#
# This property is a space separated list of attribute 
# source names, which are then configured in detail below.
# The named attribute sources are queried in the given order.
#
registry.security.attributes.order=  FILE

#
# configuration of the 'FILE' attribute source
#
registry.security.attributes.FILE.class=eu.unicore.uas.security.file.FileAttributeSource
# path to the mapfile
registry.security.attributes.FILE.file=src/test/resources/conf/users/testUudb-strict.xml
# how to match entries: strict or regexp
registry.security.attributes.FILE.matching=strict

# Enable/disable authorisation. Server should running on https with
# valid client and server certificates, see 'Authentication' 
# properties above 
registry.security.accesscontrol=true

# Name of the xml file containing the User attributes
registry.security.accesscontrol.config=true
#
# the XACML config file which contains the list of security policy files
#
registry.security.accesscontrol.pdp.config=src/test/resources/conf/xacml2.config

#
# the XACML PDP implementation class
#
registry.security.accesscontrol.pdp=eu.unicore.uas.pdp.local.LocalHerasafPDP


############################
######### Jetty  ###########
############################
jetty.maxIdleTime=30000
jetty.maxIdleTime=10000
jetty.maxThreads=255
jetty.lowThreads=50
