#
# config file for the XACML2.0 policy decision point
#

# The directory where XACML 2.0 policy files are stored
localpdp.directory=src/test/resources/conf/xacml2Policies

# Wildcard expression to select actual policy files from the directory defined above
localpdp.filesWildcard=*.xml

# Combining algorithm for the policies. You can use the full XACML id or its last part.
localpdp.combiningAlg=first-applicable
