############################
#####Server configuration###
############################
registry.hostname=localhost
registry.port=54321


############################
####MongoDB configuration###
############################
mongo.hostname=localhost
mongo.port=27017

# Database name should be set by-default to 'registry'
# mongo.dbname=registry

# Collection name should be set by-default to 'service' 
# mongo.colname=service
