############################
#####Server configuration###
############################
#Scheme could either be http or https if running on a secure mode
registry.scheme=http
registry.hostname=localhost
registry.port=54321


############################
####MongoDB configuration###
############################
mongodb.hostname=localhost
mongodb.port=27017
mongodb.dbname=emiregistry
mongodb.colname=services

# Database name should be set by-default to 'registry'
# mongodb.dbname=dsr

# Collection name should be set by-default to 'service' 
# mongodb.colname=service

# MongoDB authentication information
#mongodb.username=user
#mongodb.password=pwd

############################
#### Log4J configuration ###
############################
logger.conf.path=src/main/resources/log4j.properties


############################
#####   Security  ##########
############################

###### Authentication ######
keystore.path=src/main/certs/demo-server.p12
keystore.type=pkcs12
keystore.password=emi

truststore.path=src/main/certs/demo-server.jks
truststore.password=emi
truststore.type=jks

registry.security.clientauthentication=true

###### Authorisation #######

# Enable/disable authorisation. Server should running on https with
# valid client and server certificates, see 'Authentication' 
# properties above 
registry.security.accesscontrol=true

# User attribute source - for getting role, vo etc...
registry.security.attributesource.type=FILE

# attribute source location
registry.security.attributesource.location=src/test/resources/udb



############################
######### Jetty  ###########
############################
jetty.maxIdleTime=30000
jetty.maxIdleTime=10000
jetty.maxThreads=255
jetty.lowThreads=50