   ------
EMI Registry: Introduction
   ------

Overview

 The EMI Registry is a federated service registry based on REST-ful interfaces. The major functionalities of the registry includes 
 
 * the service registration includes the management of the services' information.
 
 * Powerful data back-end based on MongoDB
 
 * Schema-free information model based on JSON (using GLUE2 entity names for specific attributes)
 
 * Seam-less access: Plain HTTP interface to browse the service registrations
 
 * Security
 
 	* PKI governed authentication
 
 	* Distinguished Name based authorization using XACML driven PDP
   
Prerequisites for installing the Registry Server

	* Java 6 Runtime Environment or SDK

	* MongoDB (version > 1.8.1) 

User manual

	* {{{./emir-manual.html}HTML format}} 

	* {{{./emir-manual.pdf}PDF format}} 
