   ------
EMI Registry (EMIR): Introduction
   ------

Overview

 The EMI Registry (EMIR) is a federated service endpoint registry based on REST-ful interfaces. The main highlights of the EMIR are: 
 
 * Offers the complete service endpoint record management in a fine grained manner
 
 * Powerful data back-end based on MongoDB
 
 * Schema-free information model based on JSON (using GLUE2 entity names for endpoint attributes)
 
 * Seam-less access: REST API to browse the service registrations
 
 * Security
 
 	* PKI governed authentication
 
 	* Distinguished Name based authorisation using XACML driven PDP, or
 	
 	* Authorisation using Access Control List (ACL) for simplified access control 
   
Pre-requisites for installing the EMIR Server

	* Java 6 Runtime Environment or SDK

	* MongoDB (version > 2.4.x) 

User manual

	* {{{./emir-manual.html}HTML format}} 

	* {{{./emir-manual.pdf}PDF format}} 
