   ------
UNICORE/X
   ------
   
UNICORE/X version ${releaseVersion}

  The UNICORE/X server is the central component of a UNICORE site.
It hosts the services such as job submission, job management, 
storage access, and provides the bridge to the functionality 
of the target resources, e.g. batch systems or file systems.

  For more information about UNICORE visit http://www.unicore.eu

Prerequisites for running UNICORE/X
    
 * Java 6 (or later) runtime environment or SDK
 
 * To interface to a resource management system such as Torque or SGE,
   you'll need to install the UNICORE TSI

Full manual

 * {{{./unicorex-manual.html}HTML format}} 

 * {{{./unicorex-manual.pdf}PDF format}} 

