############################
#####Server configuration###
############################
#Scheme could either be http or https if running on a secure mode
registry.scheme=https
registry.hostname=localhost
registry.port=54321

#########################################
#####EMIR Server Topology configuration##
#########################################
#Indicating whether the registry node is global. If set
#to true then it will ignore the registry.parent.url property
#registry.global.enable=true

#It determines the number of neighbors as a function of the actual
#number of member nodes of the network.
#default value is 2
#registry.global.sparsity=2

#Retry specifies how many times communication to GSR have to 
#fail/timeout to start treating it as unavailable.
#default value is 5
#registry.global.retry=5

#Period for checking the entries in the soft state database and 
#strip the expired entries (but still keep them).
#default value is 12 (hours)
#registry.global.etvalid=12

#Period for checking the entries in the soft state database and 
#remove the expired entries.
#default value is 24 (hours)
#registry.global.etremove=24

#parent dsr configuration
#registry.parent.url=http://localhost:9000

############################
####Service Record Filter###
############################
#This property scans the incoming registration requests and 
#filter out the matched Service records, defined in the input filters
#file
#
#registry.filters.input=conf/inputfilters
#
#Restrict the amount of service records sent to the parent registry node 
#would be defined in the output filters file
#
#registry.filters.output=conf/outputfilters

#General container filters, are defined as comma separated fully qualified class names  
#registry.filters.request=pkg.Class1,pkg.Class2
#
#registry.filters.response=pkg.Class1,pkg.Class2

#Maximum lease duration for the services
# default value is 365, should be defined in days and the minimum value is 1
registry.expiry.maximum=1

#default value, if the incoming registration is missing the expiration
registry.expiry.default=1

############################
####MongoDB configuration###
############################
mongodb.hostname=localhost
mongodb.port=27017
mongodb.dbname=emiregistry
mongodb.colname=services

# Database name should be set by-default to 'registry'
# mongodb.dbname=emiregistry

# Collection name should be set by-default to 'service' 
# mongodb.colname=services

# MongoDB authentication information
#mongodb.username=user
#mongodb.password=pwd

##############################
#### Logging configuration ###
##############################
logger.conf.path=conf/log4j.properties


############################
#####   Security  ##########
############################
#The security will be enabled automatically if "registry.scheme" field is set to "https"

###### Authentication ######
registry.ssl.keystore=certs/demo-server.p12
registry.ssl.keytype=pkcs12
registry.ssl.keypass=emi

registry.ssl.truststore=certs/demo-server.jks
registry.ssl.truststorepass=emi
registry.ssl.truststoretype=jks

registry.ssl.clientauthentication=true

###### Authorisation #######
#There are two alternatives to authorize the EMIR clients
# I.  Access Control List (ACL)
# II. XACML Policies
#
#Note: Use anyone of the above mechanism by commenting out the respective properties - default mechanism: ACL

# I. Access Control List (ACL)
registry.acl.file=conf/emir.acl

# II. XACML Policies
# Authorisation attribute source configuration
# 
# EMIR maps the identity of the Grid user (e.g. 
# her certificate or distinguished name) to attributes
# (like role).
#
# This property is a space separated list of attribute 
# source names, which are then configured in detail below.
# The named attribute sources are queried in the given order.
#
#registry.security.attributes.order=  FILE

#
# configuration of the 'FILE' attribute source
#
#registry.security.attributes.FILE.class=eu.emi.dsr.aip.FileAttributeSource
# path to the mapfile
#registry.security.attributes.FILE.file=conf/users/testUdb-strict.xml
# how to match entries: strict or regexp
#registry.security.attributes.FILE.matching=strict

# Enable/disable authorisation. Server should running on https with
# valid client and server certificates, see 'Authentication' 
# properties above 
#registry.security.accesscontrol=true

# Name of the xml file containing the User attributes
#registry.security.accesscontrol.config=true
#
# the XACML config file which contains the list of security policy files
#
#registry.security.accesscontrol.pdp.config=conf/xacml2.config

#
# the XACML PDP implementation class
#
#registry.security.accesscontrol.pdp=eu.unicore.uas.pdp.local.LocalHerasafPDP
#registry.security.accesscontrol.pdp=eu.emi.dsr.pdp.local.FlatFilePDP


############################
######### Jetty  ###########
############################
#Web server configuration, should be changed if the expected load is high
jetty.maxIdleTime=30000
jetty.maxIdleTime=10000
jetty.maxThreads=255
jetty.lowThreads=50
